* {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    background-image: url('./img/bg.jpg');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

/* || Header */
header {
    text-align: center;
}

header h1 {
    font-size: 4vw;
    font-family: 'WaltographRegular';
    font-weight: normal;
    font-style: normal;
    margin-top: 0;
    padding: 15px 0;
    color: white;
    background: black;
}

/* || Main */
main {
    text-align: center;
}

#activity {
    height: 225px;
    width: 50%;
    background: white;
    margin: 40px auto;
    padding: 30px;
    border-radius: 15px;
    font-size: 1.5vw;
}

.titles {
    font-size: 1vw;
    border-bottom: thin solid blue;
    width: 15%;
    margin: 5px auto;
    display: none;
}

#movie-title, #dinner-title, #dessert-title, #drink-title, #game-title {
    padding: 10px 0;
    cursor: default;
}

#dinner-title:hover, #dessert-title:hover, #drink-title:hover, #game-title:hover {
    font-size: 1.7vw;
    transition: 0.3s;
} 

#movie-title {
    font-size: 2.2vw;
}

#movie-title:hover {
    font-size: 2.5vw;
    transition: 0.3s;
}

.button {
    text-align: center;
    margin: 10px 0;
}

#btn {
    padding: 15px 75px;
    border-radius: 15px;
    border: none;
    background: white;
    color: black;
    transition: 0.3s;
}

#btn:hover {
    transform: translateY(-5px);
    cursor: pointer;
}

/* || Footer */
footer {
    position: absolute;
    bottom: 0;
    padding-top: 10px;
    width: 100%;
    color: white;
    background: black;
}