* {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    background: lightblue;
    margin: 0 150px;
}

/* || Header */
header {
    text-align: center;
}

header h1 {
    font-size: 4vw;
    font-family: 'WaltographRegular';
    font-weight: normal;
    font-style: normal;
}

header h1, header p {
    margin-top: 5px;
}

/* || Main */
main {
    text-align: center;
}

#activity {
    height: 250px;
    background: white;
    margin: 40px 0;
    padding: 30px;
    border-radius: 15px;
    font-size: 1.5vw;
}

#movie-title, #movie-dinner, #movie-dessert, #movie-drink, #movie-game {
    margin: 5px 0;
}

.button {
    text-align: center;
    margin: 10px 0;
}

#btn {
    padding: 15px 75px;
    border-radius: 15px;
    border: none;
    background: white;
    color: black;
    transition: 0.3s;
}

#btn:hover {
    transform: translateY(-5px);
    cursor: pointer;
}